div.background{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    background-color:#262680;
}
#page{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}
div.content{
    position:absolute;
    top:100%;
    left:0px;
    width:100%;
    min-height:100%;
}
a.arrow{
    position: absolute;
    bottom:0px;
    text-align:center;
    width:100%;
}
a.arrow img{
    width:50px;
}
div.spacer{
    margin:0px;
    padding:0px;
    height:30%;
}
div.container{
    margin-left:15%;
    margin-right:15%;
}
div.container.header h1{
    color:#EEEEEE;
    font-weight:bold;
    font-size:5vw;
    margin-bottom:5px;
    background-color:#262680;
    z-index:1;
}
div.container.header p{
    color:#EEEEEE;
    background-color:#262680;
    font-size:1em;
    padding-bottom:10px;
    z-index:1;
}
div.container.header{
    background-color:#262680;
    position:sticky;
    top:1px;
    z-index:1;
}
@media screen and (orientation:portrait) {
   div.container{
       margin-left:10px;
       margin-right:10px;
   }
    div.container.header h1{
    font-size:11vw;
    text-align:center;
    }
    div.container.header p{
    font-size:3vw;
    text-align:center;
    }
}
html{
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
}
body{
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
    position:absolute;
    top:0px;
    -webkit-transition: top 2s;
    transition: top 2s;
    overflow:hidden;
}
html *{
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    font-weight:normal;
}